*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr auto;
  grid-template-areas: 
    "image sidebar"
    "slider sidebar";
  height: 100vh;
  width: 100vw;
  background-color: lightblue;
}

.main-image {
  /* corresponds to "image" in grid-template-area*/
  grid-area: image;
  /* background-image: url("https://wallpapercave.com/wp/wp5768288.png"); */
  /* width: 100%;
  height: 100%;
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}

.sidebar {
  /* corresponds to "sidebar" in grid-template-area*/
  grid-area: sidebar;
  background-color: hsl(123, 100%, 80%);
  border-left: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.sidebar-item {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: hsl(123, 100%, 80%);
  padding: 1rem;
  position: relative;
  transition: background-color 150ms;
}

.sidebar-item:hover, .sidebar-item:focus {
  background-color: hsl(123, 100%, 70%);
}

.sidebar-item.active {
  background-color: hsl(123, 100%, 60%);
}

/* line separating every sidebar button */
.sidebar-item::after {
  content: '';
  position: absolute;
  width: 80%;
  left: 10%;
  bottom: 0;
  height: 1px;
  background-color: hsl(265, 100%, 46%);
}

.sidebar-item:last-child::after {
  display: none;
}

.slider-container {
  /* corresponds to "slider" in grid-template-area*/
  grid-area: slider;
  margin-top: 2rem;
  padding: 2rem;
}

.slider {
  width: 100%;
  cursor: pointer;
}